html {
  overflow-y: overlay;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
}
.container {
  margin: 0rem 5rem;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.header {
  width: 100%;
  position: fixed;
  padding: 1rem;
  background-color: white;
  text-align: center;
}
.bestTileLogo {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.bestTileLogo img {
  height: 75px;
}
.titleAndSearch {
  flex-grow: 1;
  text-align: center;
}
.body {
  margin-top: 155px;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
}

.searchInput,
.locationInput {
  padding: 0.5rem;
  margin: 1rem;
}
.checkboxDiv {
  position: absolute;
  top: 95px;
  right: 160px;
}
.checkboxSpan {
  margin: 0 1rem;
}
table {
  padding: 0 0 1.5rem 0;
}
thead,
tr:nth-child(even) {
  background-color: rgba(0, 140, 255, 0.4);
}
tr:nth-child(odd) {
  background-color: rgba(0, 140, 255, 0.1);
}
.thNumber {
  width: 35px;
}
.thOrder {
  width: 225px;
}
.thLocation {
  width: 90px;
}
.thMovedBy {
  width: 90px;
}
.thNote {
  width: 350px;
}
.thActions {
  width: 350px;
}
thead,
td {
  height: 40px;
  text-align: center;
}
.button,
.updateButton,
.cancelButton,
.updateLocationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  background-color: rgba(0, 140, 255, 0.8);
  border-color: white;
  color: white;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 5px;
  transition-duration: 0.25s;
}

.updateButton {
  padding: 0.3rem 0.4rem;
}
.button:hover,
.updateButton:hover,
.cancelButton:hover,
.updateLocationButton:hover {
  border-color: rgba(0, 140, 255, 0.8);
  color: rgba(0, 140, 255, 0.8);
  background-color: white;
}

.cancelButton {
  padding: 0.3rem 0.5rem;
  background-color: red;
}

.cancelButton:hover {
  border-color: red;
  background-color: white;
  color: red;
}
#scanButton {
  display: none;
}
.createModal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/***********UpdateLocation***********/
.updateLocation {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.locationContent {
  width: 75%;
}
.locationPackerSpan {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.locationPackerDiv {
  display: flex;
  flex-direction: column;
}
.locationH2 {
  font-size: 1.75rem;
  padding: 1rem 1rem 0.25rem 1rem;
  text-decoration: underline;
}
.locationH1,
.noteH1,
.packerH1 {
  font-size: 3rem;
  padding: 0.5rem 1rem 1.25rem 1rem;
}
.locationNote {
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  border: none;
  font-size: 1.75rem;
}
.locationInput {
  width: 250px;
  margin: 1.5rem 0.5rem;
}
.updateLocationButton {
  margin: 0.5rem;
}
.updateRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}

/***********UpdateLocation/CreateQRCodeModal***********/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 55%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
.newOrderNumberInput {
  padding: 0.5rem;
  margin: 0 0 1.5rem 0;
}
.buttonsDiv {
  width: 400px;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/***********TableRow***********/
.deleteModal {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deleteModalButtons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.td {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

/***********PrintQR***********/
.printMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orderNumber {
  font-size: 3rem;
}

.order {
  padding: 0 0 1rem 0;
  font-size: 8rem;
}
/***********PrintQRLocation***********/
.printQRLocationHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.hidePrintQRLocationHeader {
  display: none;
}
.qrLocation {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.qrCodeP {
  margin: 0rem;
  font-size: 1.2rem;
}
/***********@media***********/
@media (max-width: 600px) {
  .container {
    position: relative;
  }
  .header {
    width: 100%;
    position: fixed;
    padding: 1rem;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .bestTileLogo {
    position: relative;
    left: unset;
    top: unset;
    transform: none;
  }
  .bestTileLogo img {
    height: 2.5rem;
  }
  .body {
    margin-top: 210px;
  }
  #readerHidden {
    display: none;
  }
  #readerShow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
  }
  #createQRcancelButton,
  #createQRcreateButton {
    padding: 1.25rem;
  }
  #createQRcancelButton {
    margin-bottom: 1rem;
  }
  #createQRprintButton {
    display: none;
  }
  .thNumber {
    width: 35px;
  }
  .thOrder {
    width: 90px;
  }
  .thLocation {
    width: 90px;
  }
  .thMovedBy {
    width: 90px;
  }

  .thActions {
    width: 350px;
  }
  .thNote,
  #tdNote {
    display: none;
  }
  .locationPackerSpan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
  }
  .locationPackerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .locationH2 {
    width: 70%;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .locationH1 {
    width: 100%;
    font-size: 3rem;
    padding: 0.5rem;
  }
  .noteH1,
  .packerH1 {
    width: 100%;
    font-size: 2rem;
    padding: 0.5rem;
  }
  .locationScanSpan {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .locationInput {
    width: 100%;
    font-size: 1.25rem;
    /* margin: 1rem 0 0.5rem 0; */
    flex-grow: 2;
    margin: 0.5rem;
  }
  #scanButton {
    display: inline;
    position: absolute;
    right: 5%;
  }
  .updateLocationButton {
    font-size: 24px;
    padding: 1rem;
    margin: 1rem;
  }
  .updateRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttonsDiv {
    width: 60%;
    flex-direction: column;
    justify-content: center;
  }
  #updateButton {
    margin-bottom: 0px;
  }
}
